.container 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title
{
    margin-top: 3em;
    margin-bottom: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150%;
}

.btn 
{
    font-size: 16px;
    padding: 10px 16px;
    width: 30%;
    max-width: 400px;
    margin-bottom: 1em;
    border: 1px solid grey;
}

.btn-google 
{
    background-color: white;
    color: grey;
}

.btn-login 
{
    background-color: #4285F4;
    color: white;
}

.separator 
{
    display: flex;
    align-items: center;
    width: 40%;
    margin-bottom: 1em;
}

.separator hr 
{
    flex: 1;
}

.separator span 
{
    margin: 0 0.5em;
    color: grey;
}

.input 
{
    width: 30%;
    max-width: 400px;
    margin-bottom: 1em;
    padding: 10px;
    box-sizing: border-box;
}
