<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
    <title>AfterworkOrganizer</title>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<div>
    <h2 >Activity List</h2>
    <tr>
        <div align = "left" >
            <h3><a  th:href="@{'/new'}">Add new</a></h3>
        </div>
    </tr>
    <tr>
        <div class="col-sm-5" align = "center">
            <div class="panel-body" align = "center" >
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Activity ID</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Type</th>
                        <th>Organisator</th>
                        <th>Collaborator</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="activity : ${listActivity}">
                        <td th:text="${activity.id}">Activity ID</td>
                        <td th:text="${activity.name}">Name</td>
                        <td th:text="${activity.organisator}">Organisator</td>
                        <td th:text="${activity.collaborator}">Collaborator</td>
                        <td><a th:href="@{'/edit/' + ${activity.id}}">Edit</a></td>
                        <td><a th:href="@{'/delete/' + ${activity.id}}">Delete</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tr>
</div>
</body>
</html>