.glass {
    text-align:center;
    height:100%;
    display:flex; 
    align-items:center;
    justify-content:center;
}

.trbody tr:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    width: 500px;
    transition: transform 0.3s;
}
  
.img-container img:hover {
    transform: scale(0.7);
}

.row {
    display: flex;
}
  
  .column {
    flex: 23.33%;
    padding: 3px;
  }